<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sf.dysis.planning.ui.perspective.ProjectPerspective"
            icon="img/project_perspective.gif"
            id="net.sf.dysis.project.ui.ProjectPerspective"
            name="%perspectiveName">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="net.sf.dysis.project.ui.category"
            class="net.sf.dysis.planning.ui.view.ProjectNavigator"
            icon="img/project_view.gif"
            id="net.sf.dysis.planning.ui.view.ProjectNavigator"
            name="%navigatorName">
      </view>
      <category
            id="net.sf.dysis.project.ui.category"
            name="%viewCategoryName">
      </category>
      <view
            category="net.sf.dysis.project.ui.category"
            class="net.sf.dysis.planning.ui.search.view.ProjectSearchView"
            icon="img/search.gif"
            id="net.sf.dysis.planning.ui.search.view.ProjectSearchView"
            name="%searchViewName"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="net.sf.dysis.project.ui.category.wizards"
            class="net.sf.dysis.planning.ui.wizard.ProjectWizard"
            finalPerspective="net.sf.dysis.project.ui.ProjectPerspective"
            hasPages="true"
            icon="img/project.gif"
            id="net.sf.dysis.planning.ui.wizard.ProjectWizard"
            name="%projectWizardName"
            project="false">
         <description>
            Anlegen eines neuen Projektes
         </description>
      </wizard>
      <category
            id="net.sf.dysis.project.ui.category.wizards"
            name="%wizardCategoryName">
      </category>
      <wizard
            category="net.sf.dysis.project.ui.category.wizards"
            class="net.sf.dysis.planning.ui.wizard.ActivityWizard"
            finalPerspective="net.sf.dysis.project.ui.ProjectPerspective"
            hasPages="true"
            icon="img/activity.gif"
            id="net.sf.dysis.planning.ui.wizard.ActivityWizard"
            name="%activityWizardName"
            project="false">
         <description>
            Anlegen einer neuen Aufgabe
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.dysis.planning.ui.editor.ProjectEditor"
            icon="img/project.gif"
            id="net.sf.dysis.planning.ui.editor.ProjectEditor"
            name="%editorName">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.sf.dysis.planning.ui.navigator.ProjectNavigatorElement"
            objectClass="net.sf.dysis.planning.ui.navigator.ProjectNavigatorElement">
         <action
               class="net.sf.dysis.planning.ui.action.ProjectEditAction"
               icon="img/project.gif"
               id="net.sf.dysis.planning.ui.action.ProjectEditAction"
               label="%editActionName"
               menubarPath="edit">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="net.sf.dysis.planing.core.dto.ProjectDTO"
            objectClass="net.sf.dysis.planing.core.dto.ProjectDTO">
         <action
               class="net.sf.dysis.planning.ui.action.ProjectEditAction"
               icon="img/project.gif"
               id="net.sf.dysis.planning.ui.action.ProjectEditAction"
               label="%editActionName"
               menubarPath="edit">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="net.sf.dysis.base.ui.dataprovider">
      <provider
            class="net.sf.dysis.planning.ui.dataprovider.ProjectDataProvider"
            id="net.sf.dysis.planning.ui.dataprovider.ProjectDataProvider"
            name="Projects">
         <cachingStrategy
               class="net.sf.dysis.base.ui.dataprovider.cache.SimpleManageableCachingStrategy"
               entryTimeOut="30000"
               entryTimeToLive="60000"
               eternalEntry="false">
         </cachingStrategy>
      </provider>
      <provider
            class="net.sf.dysis.planning.ui.dataprovider.ActivityDataProvider"
            id="net.sf.dysis.planning.ui.dataprovider.ActivityDataProvider"
            name="Activities">
      </provider>
   </extension>
   <extension
         point="net.sf.dysis.base.ui.search.descriptor">
      <search
            criteriaDialog="net.sf.dysis.planning.ui.search.dialog.ProjectSearchCriteriaDialog"
            executable="net.sf.dysis.planning.ui.search.ProjectSearch"
            id="net.sf.dysis.planning.ui.search.project"
            labelProvider="net.sf.dysis.planning.ui.search.provider.ProjectSearchResultTableLabelProvider"
            name="Projektsuche">
         <column
               label="%searchColumnName"
               width="100">
         </column>
         <column
               label="%searchColumnDescription"
               width="200">
         </column>
         <column
               label="%searchColumnStartDate"
               width="100">
         </column>
         <column
               label="%searchColumnEndDate"
               width="100">
         </column>
      </search>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.sf.dysis.project.ui.ProjectPerspective">
         <newWizardShortcut
               id="net.sf.dysis.planning.ui.wizard.ProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="net.sf.dysis.planning.ui.wizard.ActivityWizard">
         </newWizardShortcut>
         <perspectiveShortcut
               id="net.sf.dysis.resource.ui.perspective.ResourcePerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="net.sf.dysis.planning.ui.view.ProjectNavigator"
            targetID="net.sf.dysis.planning.ui.view.ProjectNavigator">
         <action
               class="net.sf.dysis.base.ui.navigator.action.NavigatorViewRefreshAction"
               icon="img/refresh.gif"
               id="net.sf.dysis.base.ui.navigator.action.NavigatorViewRefreshAction"
               label="%refreshActionName"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
</plugin>
