<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="context.xml"
            plugin="net.sf.dysis.resource.ui">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="net.sf.dysis.planning.ui.help.category"
            name="Dysis Planning">
      </category>
      <cheatsheet
            category="net.sf.dysis.planning.ui.help.category"
            composite="false"
            contentFile="edit.project.cheatsheet.xml"
            id="net.sf.dysis.planning.ui.help.cheatsheet.editproject"
            name="Bearbeiten eines Projekts">
      </cheatsheet>
   </extension>

</plugin>
