<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sf.dysis.resource.ui.perspective.ResourcePerspective"
            icon="img/resource_perspective.gif"
            id="net.sf.dysis.resource.ui.perspective.ResourcePerspective"
            name="%perspectiveName">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.sf.dysis.resource.ui.perspective.ResourcePerspective">
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
         <newWizardShortcut
               id="net.sf.dysis.resource.ui.wizard.ResourceWizard">
         </newWizardShortcut>
         <perspectiveShortcut
               id="net.sf.dysis.project.ui.ProjectPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.sf.dysis.resource.ui.category"
            name="%viewCategoryName">
      </category>
      <view
            category="net.sf.dysis.resource.ui.category"
            class="net.sf.dysis.resource.ui.view.ResourceNavigator"
            icon="img/resource_view.gif"
            id="net.sf.dysis.resource.ui.view.ResourceNavigator"
            name="%navigatorName">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sf.dysis.resource.ui.category.wizards"
            name="%wizardCategoryName">
      </category>
      <wizard
            category="net.sf.dysis.resource.ui.category.wizards"
            class="net.sf.dysis.resource.ui.wizard.ResourceWizard"
            finalPerspective="net.sf.dysis.resource.ui.perspective.ResourcePerspective"
            hasPages="true"
            icon="img/resource.gif"
            id="net.sf.dysis.resource.ui.wizard.ResourceWizard"
            name="%resourceWizardName"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.dysis.resource.ui.editor.ResourceEditor"
            icon="img/resource.gif"
            id="net.sf.dysis.resource.ui.ResourceEditor"
            name="%editorName">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.sf.dysis.resource.ui.navigator.ResourceNavigatorElement"
            objectClass="net.sf.dysis.resource.ui.navigator.ResourceNavigatorElement">
         <action
               class="net.sf.dysis.resource.ui.action.ResourceEditAction"
               icon="img/resource.gif"
               id="net.sf.dysis.resource.ui.ResourceEditAction"
               label="%editActionName"
               menubarPath="edit">
         </action>
      </objectContribution>
   </extension>
<extension
         point="net.sf.dysis.base.ui.dataprovider">
      <provider
            class="org.eclipse.springframework.util.SpringExtensionFactory:resourceDataProvider"
            id="net.sf.dysis.resource.ui.dataprovider.ResourceDataProvider"
            name="Resource">
         <cachingStrategy
               class="net.sf.dysis.base.ui.dataprovider.cache.SimpleManageableCachingStrategy"
               entryTimeOut="30000"
               entryTimeToLive="60000"
               eternalEntry="false">
         </cachingStrategy>
      </provider>
   </extension>
<extension
      point="org.eclipse.ui.viewActions">
   <viewContribution
         id="net.sf.dysis.resource.ui.view.ResourceNavigator"
         targetID="net.sf.dysis.resource.ui.view.ResourceNavigator">
      <action
            class="net.sf.dysis.base.ui.navigator.action.NavigatorViewRefreshAction"
            icon="img/refresh.gif"
            id="net.sf.dysis.base.ui.navigator.action.NavigatorViewRefreshAction"
            label="%refreshActionName"
            style="push"
            toolbarPath="additions">
      </action>
   </viewContribution>
</extension>
</plugin>
