<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="net.sf.dysis.category"
            class="net.sf.dysis.base.ui.dataprovider.cache.internal.view.ManageableCacheManagementConsoleView"
            icon="img/cacheConsole.gif"
            id="net.sf.dysis.base.ui.dataprovider.cache.internal.view.ManageableCacheManagementConsoleView"
            name="%cache.console.view.name">
      </view>
      <category
            id="net.sf.dysis.category"
            name="Dysis">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.sf.dysis.base.ui.dataprovider.cache.entry.objectContribution"
            objectClass="net.sf.dysis.base.ui.dataprovider.cache.IManageableCacheEntry">
         <action
               class="net.sf.dysis.base.ui.dataprovider.cache.internal.action.RemoveCacheEntryAction"
               icon="img/cacheEntry_remove.gif"
               id="net.sf.dysis.base.ui.dataprovider.cache.internal.action.RemoveCacheEntryAction"
               label="%remove.entry.action.label"
               menubarPath="additions"
               tooltip="%remove.entry.action.tooltip">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="net.sf.dysis.base.ui.dataprovider.cache.instance.objectContribution"
            objectClass="net.sf.dysis.base.ui.dataprovider.cache.IManageableCachingStrategy">
         <action
               class="net.sf.dysis.base.ui.dataprovider.cache.internal.action.ClearCacheInstanceAction"
               icon="img/cacheInstance_removeall.gif"
               id="net.sf.dysis.base.ui.dataprovider.cache.internal.action.ClearCacheInstanceAction"
               label="%remove.all.entries.action.label"
               menubarPath="additions"
               tooltip="%remove.all.entries.action.tooltip">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.sf.dysis.base.ui.dataprovider.cache.cacheConsole"
            name="Cache Management Console">
      </command>
      <command
            id="net.sf.dysis.base.ui.dataprovider.cache.clear"
            name="Clear Cache">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.sf.dysis.base.ui.dataprovider.cache.internal.handler.ManageableCacheManagementConsoleHandler"
            commandId="net.sf.dysis.base.ui.dataprovider.cache.cacheConsole">
      </handler>
      <handler
            class="net.sf.dysis.base.ui.dataprovider.cache.internal.handler.ClearCacheHandler"
            commandId="net.sf.dysis.base.ui.dataprovider.cache.clear">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sf.dysis.base.ui.dataprovider.cache.cacheConsole"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Shift+C">
      </key>
      <key
            commandId="net.sf.dysis.base.ui.dataprovider.cache.clear"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Shift+C+DEL">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="net.sf.dysis.base.ui.dataprovider.cache.viewContribution"
            targetID="net.sf.dysis.base.ui.dataprovider.cache.internal.view.ManageableCacheManagementConsoleView">
         <action
               class="net.sf.dysis.base.ui.dataprovider.cache.internal.action.ClearCacheAction"
               icon="img/cacheInstance_removeall.gif"
               id="net.sf.dysis.base.ui.dataprovider.cache.internal.action.ClearCacheAction"
               label="%clear.cache.action.label"
               style="push"
               toolbarPath="additions"
               tooltip="%clear.cache.action.tooltip">
         </action>
         <action
               class="net.sf.dysis.base.ui.dataprovider.cache.internal.action.CollapseAllAction"
               icon="img/cacheConsole_collapseAll.gif"
               id="net.sf.dysis.base.ui.dataprovider.cache.action1"
               label="%collapse.all.action.label"
               style="push"
               toolbarPath="additions"
               tooltip="%collapse.all.action.tooltip">
         </action>
      </viewContribution>
   </extension>
</plugin>
